html,
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #f4f2ee;
}
/* section */
.section {
   box-shadow: 0px 0px 0px 1px rgb(140 140 140/0.2);
   transition: box-shadow 83ms;
   background-color: var(--white, #fff);
   overflow: hidden;
   position: relative;
}
/* Custom styles here if needed */
.timeline {
   position: relative;
   margin: 0 auto;
}

@media (max-width: 768px) {
   .timeline:before {
      display: none;
   }
}

.timeline-item {
   position: relative;
   padding: 20px 30px;
   margin-left: 270px;
   border-left: 1px solid #e0e0e0;
   background-color: rgba(249, 250, 251, 1);
   margin-bottom: 4px;
}
@media (max-width: 768px) {
   .timeline-item {
      margin: 0;
      border-left: none;
      border-bottom: 1px solid #e0e0e0;
   }
   .timeline-item:last-child {
      border: 0;
   }
}

.timeline-item-meta {
   width: 235px;
   padding-right: 20px;
   text-align: right;
   position: absolute;
   left: -250px;
}
@media (max-width: 768px) {
   .timeline-item-meta {
      position: static;
      padding: 0;
      text-align: left;
      margin-bottom: 12px;
      border-bottom: 1px solid #efefef;
   }
}

.timeline-item:last-child {
   margin-bottom: 0;
}

.timeline-item::before {
   content: "";
   position: absolute;
   top: 34px;
   left: -6px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #444;
   transform: translateY(-50%);
}
@media (max-width: 768px) {
   .timeline-item::before {
      display: none;
   }
}
@media print {
   .section-skills .skill-item  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #e0e0e0;
      padding: .3rem .5rem;
   }
   .project-list {
      display: flex;
      gap:10px;
      flex-wrap: wrap;
      > div {
         width: 32%;
      }
   }
}


.avatar-img {
   position: absolute;
   width: 120%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin:0; padding:0;
}